<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>Hello, <%= @user.email %></p>
    <p><%= link_to "Edit account", edit_user_registration_path %></p>
  </div>
</div>

<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Link 1', root_path %></li>
    <li><%= link_to 'Link 2', root_path %></li>
  </ul>
</div>