<div class="block notice">
  <h3>News</h3>
  <div class="content">
    <p>Hello, <%= @user.email %></p>
    <p><%= link_to "Edit account", edit_user_registration_path %></p>
  </div>
</div>

<div class="block">
  <h3>Pesquisa</h3>
  <ul class="navigation">
    <li><%= link_to 'Tabelas', root_path %></li>
    <li><%= link_to 'Gráficos', root_path %></li>
  </ul>
</div>
