<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<%= javascript_include_tag "graficos/highcharts.js" %>
<%= javascript_include_tag "graficos/modules/exporting.js" %>
<% 
  provse = Search.new
  provse.tipo = "Linear chart"
  provse.date = Time.now.to_datetime
  provse.user_id = current_user.id
  provse.atributos = "none"
  provse.save
%>

<script type="text/javascript">
	var chart;
	$(document).ready(function() {
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'contentor', 
				defaultSeriesType: 'scatter',
				zoomType: 'xy'
			},
			title: {
				text: 'Acess'
			},
			xAxis: {
				title: {
					enabled: true,
					text: 'Time'
				},
				startOnTick: true,
				endOnTick: true,
				showLastLabel: true
			},
			yAxis: {
				title: {
					text: 'Danger (0-10)'
				}
			},
	
			//Info quando se passa o rato por cima do ponto
			tooltip: {
				backgroundColor: '#FCFFC5',
				style: {
					    padding: 5,
						fontSize: '10px'
				},
				formatter: function() {
            		    return 'Time: ' + Math.floor(this.x) + 'h ' 
						+ Math.round((this.x%1)*60) + 'm' 
						+ '<br />Danger: <b>' + this.y + '</b><br />' + 
						'<a href="' + this.series.name + '">Click for details</a>';// + '<br />' + <%= @user.email %>;
				}  
			},
			legend: {
				layout: 'vertical',
				align: 'left',
				verticalAlign: 'top',
				x: 48,
				y: 10,
				floating: true,
				backgroundColor: '#FFFFFF',
				borderWidth: 1
			},
			plotOptions: {
				scatter: {
					marker: {
						radius: 5,
						states: {
							hover: {
								enabled: true,
								lineColor: 'rgb(100,100,100)'
							}
						}
					},
					states: {
						hover: {
							marker: {
								enabled: false
							}
						}
					}
				}
			},
			series: [{
				name: '195.234.134.174',
				color: 'rgba(223, 83, 83, .5)',
				data: [[1.2, 6.0], [7.5, 9.0], [9.5, 9.0], [7.0, 3.0], [5.1, 3.0], 
					[17.0, 9.0], [15.1, 7.0], [16.0, 6.0], [17.2, 8.0], [16.2, 7.0], 
					[17.5, 5.0], [22.2, 2.0], [21.9, 5.0], [15.4, 2.0], [16.0, 5.0], 
					]		
			}, {
				name: '129.42.38.1',
				color: 'rgba(119, 152, 191, .5)',
				data: [[4.0, 5.0], [17.3, 1.0], [19.5, 8.0], [18.5, 2.0], [18.2, 8.0], 
					[22.5, 4.0], [14.0, 6.0], [14.5, 1.0], [15.0, 2.0], [18.0, 1.0], 
					]
			}, {
		        name: '213.15.0.3',
		        color: 'rgba(118, 244, 118, .5)',
		        data: [[4.0, 1.0], [17.3, 7.0], [19.5, 3.0], [18.5, 2.0], [18.2, 6.0], 
		            [22.5, 6.0], [22.0, 5.0], [14.5, 4.0], [15.0, 3.0], [18.0, 1.0], 
		            ]
			}, {
			    name: '209.85.169.105',
			    color: 'rgba(228, 255, 0, .5)',
			    data: [[3.2, 2.0], [12.3, 1.0], [7.5, 3.0], [1.5, 2.0], [10.2, 2.0], 
			        [22.5, 3.0], [5.2, 2.0], [3.5, 1.0], [8.0, 2.0], [9.3, 1.0], 
					]
			}, {
			    name: '69.171.229.11',
			    color: 'rgba(54, 54, 54, .5)',
				data: [[2.2, 5.0], [3.3, 1.0], [4.4, 8.0], [5.5, 2.0], [6.6, 2.0], 
				    [10.5, 6.0], [17.0, 6.0], [22.5, 6.0], [23.0, 2.0], [21.0, 1.0],
					]
			}
			]
		});
	});
</script>

<div class="block" id="block-text">  
  <div class="content">
  	<h2> Linear charts! </h2>
	<div class="inner" >
		<div id="contentor" style=" width: 70%; height: 400px; margin: 0 auto;"></div>
	</div>
	<div class="inner" style=" width: 90%; height: 120px; margin: 0 auto; margin-bottom:15px;">
			<div id=caixas class="nice_border" >
				<input type="checkbox" id="checkbox-1"/><label for="checkbox-1">Ip Origem</label> 
				<input type="checkbox" id="checkbox-2"/><label for="checkbox-2">Port</label> 
				<input type="checkbox" id="checkbox-3"/><label for="checkbox-3">Danger</label> 
				<input type="checkbox" id="checkbox-4"/><label for="checkbox-4">Ip Dest</label> 
				<input type="checkbox" id="checkbox-5"/><label for="checkbox-5">TCP</label> 
				<input type="checkbox" id="checkbox-6"/><label for="checkbox-6">UDP</label> 
				<input type="checkbox" id="checkbox-7"/><label for="checkbox-7">ICMP</label> 
				<input type="checkbox" id="checkbox-8"/><label for="checkbox-8">New</label> 
				<input type="checkbox" id="checkbox-9"/><label for="checkbox-9">Bb</label> 
				<input type="checkbox" id="checkbox-0"/><label for="checkbox-0">Xyz</label> 
			</div>
			<div id=botao class="nice_border" >
				<input type="button" value="load graph"/>
			</div>
	</div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
