<div class="block" id="block-text">  
  <div class="content">
  	<h2> Graphs </h2>
	
	<div class="inner" id="submitcheck">
	  <form class="formbox">
	    <% @intrusionsAttribs.each do |key,value| %>
	      <% if value.name != "id" %>
	      <% if value.name != "created_at" %> 
	      <% if value.name != "updated_at" %>
	      <div class="radio">
		     <%= radio_button_tag "attrib_name", value.name %>
		     <%= label_tag value.name %>
		  </div>
		  <% end %>
		  <% end %>
		  <% end %>
		<% end %>
	  </form>
	</div>
	
	<div class="inner">
		<div id="rendergraph">
		</div>
	</div>
	
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

<script type="text/javascript">
	var chart;
	var rvalue = $(":checked").val();
	$(':radio').click(function() {
		chart = new Highcharts.Chart({
			chart: {
				marginRight: 30,
				marginBottom: 100,
				spacingTop: 30,
				renderTo: 'rendergraph',
				backgroundColor: '#FFFFFF',
				shadow: true,
				defaultSeriesType: 'column',
				zoomType: 'xy'
			},
			credits: {
		        enabled: false
		    },
			legend: {
				layout: 'vertical',
				align: 'center',
				verticalAlign: 'bottom',
				backgroundColor: '#FFFFFF',
				borderWidth: 1
			},
			title: {
				text: 'Graph'
			},
			xAxis: {
				title: {
					enabled: true,
					text: $(":checked").val()
				}
			},
			yAxis: {
				title: {
					text: 'Alert'
				}
			},
			series:[{
				data: [
				  <% @intrusions.each do |int| %>
				  [<%= int.id %>, <%=int.alert %>],
				  <% end %>
				]
			}]
		});
    });
</script>
